

body {
font-family: time new roman, times,serif;	
margin: 0;
color: #333;
font-size: 1.2rem;
line-height: 1.6em;
}

h1 {
	font-size:2rem;
	line-height: 1.3em;
	color: white;
}

p { 

margin-bottom: 1.6em;
}

.container {
	width: 85%;
	max-width: 850px;
	margin: 0 auto;

}


.header {

	background: #566573;
	color: white;
	padding: 1rem;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.header a {

	color: white;
	text-decoration: none;
}

.administrador-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

}

.admi {
	letter-spacing: 10px;
	font-size: 1.4em;
}

.logo {
	align-items: center;
}

.menu-icon {
	display: none;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li {
	display: inline-block;
}

.navigation ul li a {
	display: block;
	padding: 1.5rem 1rem;
	transition: all 0.5s linear;
	border-radius: 50px;
}

.navigation ul li a:hover {
background: #4a4a4a;
}

.main { padding: 15rem; }

.footer {
	background: #F2F3F4;
	padding: 4rem 0;
	text-align: center;
	margin-top: 6rem;
}

@media only screen and (max-width: 767px){

.menu-icon {
	display: block;
	cursor: pointer;
}


.navigation {
	width: 100%;
	margin-top: 1rem;
}

.navigation ul.show {
	display: block;
}

.navigation ul li {
	display: block;
}

.navigation ul li a {
	display: block;
	padding: 1.5rem 0;
	transition: all 0.5s linear;
	border-radius: 50px;
}

.navigation ul li a:hover {
background: #4a4a4a;
}



